body { font-family: 'Droid Sans', sans-serif, inherit; background: #eee url(../img/white_carbon.png); }
	div.container {
		background-color: #FFFFFF;
		-moz-border-radius-bottomright: 25px 50px;
		border-bottom-right-radius: 25px 50px;
		-moz-border-radius-bottomleft: 25px 50px;
		border-bottom-left-radius: 25px 50px;
		position: relative;
		padding: 0 30px 20px 30px;
		margin: 0 auto 0 auto;
		}
		header { padding: 25px 0; }
		h3 { color: #5BB75B; padding: 10px 0;  }
		p { font-size: 1.1em; line-height: 2em; }
		footer { padding: 10px; text-align: center; }
			footer small { font-size: .7em; }